/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "DM Sans", sans-serif;
  position: relative;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
p {
  margin: 0;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-container-header {
  padding: 0px 72px;
}
.new-container {
  padding: 0px 72px;
}

@media (max-width: 768px) {
  .new-container {
    padding: 0px 20px;
  }
  .new-container-header {
    padding: 0px;
  }
}
/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar {
  padding: 25px 0px !important;
}
/* .navbar .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
} */
.navbar .logo-nav {
  cursor: pointer;
  width: 72px;
  height: 63px;
}
.navbar .mobile-menu-icon {
  display: none;
}
.navbar .menu-items {
  gap: 64px;
  display: flex;
  align-items: center;
}
.navbar .menu-items a {
  text-decoration: none !important;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #202020;
}
.navbar .menu-items .items:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  color: #000;
}

.navbar .menu-items .contact-btn {
  /* w-[180px] h-[43px] text-center text-white text-[18px] font-bold bg-[#343AB7] px-4 py-2 rounded hover:bg-white hover:text-[#343AB7] hover:border-solid  hover:border-2 hover:border-[#343AB7] */
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #343ab7;
  background: #343ab7;
}
.navbar .menu-items .contact-btn:hover {
  border: 1px solid #343ab7;
  background: #fff;
  color: #343ab7 !important;
}

@media (max-width: 768px) {
  .navbar {
    padding: 12px 0px !important;
  }
  .navbar .menu-items {
    display: none;
  }
  .navbar .logo-nav {
    width: 52px;
    height: auto;
  }

  .navbar .mobile-menu-icon {
    display: block;
    width: 40px;
    cursor: pointer;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero-section {
  margin-top: 50px;
}
.hero-section h1 {
  font-family: "Montserrat", sans-serif;
  line-height: normal;
}
.hero-section h2 {
  font-family: "Montserrat", sans-serif;
  line-height: normal;
}
.hero-section button {
  font-family: "DM Sans", sans-serif;
}

@media (max-width: 768px) {
  .hero-section {
    text-align: center;
    margin-top: 40px;
    height: calc(100vh - 110px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .hero-section h2 {
    font-size: 30px;
  }
  .hero-section h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .hero-section button {
    font-size: 14px;
    width: 78px;
    height: auto;
    padding: 8px;
    text-align: center;
  }
  .hero-section .hero-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/*--------------------------------------------------------------
# Our Services
--------------------------------------------------------------*/

.our-services {
  /* background-color: #101010; */
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 130px;
}
.service-card {
  position: sticky;
  top: 0;
  width: 1016px;
}

.card__inner {
  will-change: transform;
  background: white;
  border-radius: 35px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
  transform-origin: center top;
  padding: 36px;
  /* background-color: #404381; */
  background-image: url(/assets/img/our-services/our-work.svg);
}

.services-cards {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(var(--cards-count), var(--card-height));
  gap: 40px 0;
}

.card__image-container {
  display: flex;
  justify-content: center;
  width: 45%;
  height: 486px;
  flex-shrink: 0;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card__image {
  width: 320px;
  height: 320px;
  object-fit: contain;
  aspect-ratio: 1;
  margin: auto;
}

.card__content {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  background-color: #b9bbea;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  gap: 30px;
}

.card__content img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.card__content button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #343ab7;
  width: 145px;
  margin: 0 auto;
}
.card__content span {
  color: #343ab7;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__title {
  /* padding: 0;
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: #16263a; */
  text-align: center;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card__description {
  color: #202020;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.space {
  height: 90vh;
}

.space--small {
  height: 40vh;
}

@media (max-width: 600px) {
  .card__inner {
    flex-direction: column;
  }

  .card__image-container {
    width: 100%;
  }

  .card__image {
    aspect-ratio: 16 / 9;
  }

  .card__title {
    font-size: 32px;
  }

  .card__description {
    font-size: 16px;
  }

  .card__content {
    padding: 30px 20px;
  }
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact-us {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-us .row {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
  overflow: hidden;
}
.contact-us .contact-block1 {
  height: 600px;
  background-color: #343ab7;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-us .contact-block2 {
  height: 600px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
}
.contact-us .contact-block1 h1 {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-us .contact-block1 p {
  color: #c9c9c9;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-us .contact-block1 .contact-details {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contact-us .contact-block1 .contact-details div {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
.contact-us .contact-block1 .contact-details div p {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-us .contact-block1 .social-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.contact-us .contact-block2 .row {
  margin-bottom: 16px;
  box-shadow: none;
}
.contact-us .contact-block2 .row > div label {
  width: 100%;
  color: #202020;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}
.contact-us .contact-block2 .row .text-input {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #000;
  outline: none;
}
.contact-us .contact-block2 .row .select-subject {
  margin-bottom: 14px;
  font-size: 18px;
}
.contact-us .contact-block2 .row .select-options {
  display: flex;
  gap: 10px;
}
.contact-us .contact-block2 .row .select-options div {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.contact-us .contact-block2 .row .select-options .radio-input {
  cursor: pointer;
}
.contact-us .contact-block2 .row .select-options label {
  cursor: pointer;
  color: #011c2a;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.contact-us .contact-block2 .row textarea {
  width: 100%;
  outline: none;
  margin-top: 14px;
  border-bottom: 1px solid;
}
.contact-us .contact-block2 .row .submit-btn-container {
  text-align: end;
}
.contact-us .contact-block2 .row .send-message-btn {
  padding: 15px 48px;
  border-radius: 5px;
  background: #011c2a;
  color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
}

/*--------------------------------------------------------------
# Our Work
--------------------------------------------------------------*/
.our-work {
  height: 1000px;
}
